

mixed-port: 7779

allow-lan: true

bind-address: '0.0.0.0'


mode: rule


log-level: debug


dns:
  enable: false
  listen: 0.0.0.0:53
  ipv6: true # when the false, response to AAAA questions will be empty

  # These nameservers are used to resolve the DNS nameserver hostnames below.
  # Specify IP addresses only
  default-nameserver:
    - 114.114.114.114
    - 8.8.8.8
  # enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16 # Fake IP addresses pool CIDR

  nameserver:
    - 114.114.114.114 # default value
    - 8.8.8.8 # default value
    - tls://dns.rubyfish.cn:853 # DNS over TLS
    - https://1.1.1.1/dns-query # DNS over HTTPS
    - dhcp://en0 # dns from dhcp
    # - '8.8.8.8#en0'

proxies:
- name: 'ss00'
  type: ss
  server: 45.79.227.196
  port: 37231
  cipher: aes-256-gcm
  password: zWlr2nxzM2U2qlZF

proxy-groups:
- name: Proxy1
  type: url-test
  proxies:
  - 'ss00'
  url: https://www.baidu.com
  interval: 5

rules:
  - DOMAIN-KEYWORD,tikvpn.com,DIRECT
  - DOMAIN-KEYWORD,tikvpn.in,Proxy1
  - DOMAIN-KEYWORD,ipinfo.io,DIRECT
  - DOMAIN-KEYWORD,ipip.net,DIRECT
  - MATCH,Proxy1
